---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import Applications from '../components/Applications.astro';
import Specs from '../components/Specs.astro';
import Models from '../components/Models.astro';
import Brand from '../components/Brand.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="ANGO Metalúrgica | Tomas de fuerza con embrague">
    <Navbar />
    <main>
        <Hero />
        <Applications />
        <Specs />
        <Models />
        <Brand />
    </main>
    <Footer />
</Layout>
